<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias alias="BoardVo" type="com.mypage.www.vo.BoardVo"/>
<typeAlias alias="UserVo" type="com.mypage.www.vo.UserVo"/>
<typeAlias alias="ReplyVo" type="com.mypage.www.vo.ReplyVo"/>
</typeAliases>

</configuration>
