@charset "UTF-8";

.table{
	text-align:center;
	width:80%;
	margin-top: 5%;
	margin-botton:5%;
	margin-right: 10%;
	margin-left: 10%

}

.table a{
    color:black;
    text-decoration: none;
}

.title{
	margin-left: 10%;

}

.title button{
	float:right;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom : 15px;
	margin-right: 10%;
}

.right a{
    float:right;
    font-size:15px;
    color:black;
    text-decoration: none;
    margin-right: 30px;
}

.right a:hover{
	color: pink;
}

.index ul{
	height: 70px;
	background: black;
	opacity: 0.7;
	list-style: none;
	padding-top: 30px;
}

.index li{
	float: left;
	margin-right: 50px;
}



.index a{
	font-size: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.index li a:hover {
	color:pink;
	text-decoration:underline;

}

.join{
	display: inline-block;
	text-align:center;
		margin-left: 45%;
	margin-right : 50%;

}

.form-join{
	font-size:20px;
	margin-top: 15px;
	margin-bottom : 15px;
	text-align:center;

}

.page-link{
	color:black;
}


.text-center select{
	width: 5%;
}
.text-center input{
	width: 80%;
}
.text-center button{
	width: 10%;
}

.userName{
	font-size: "15px";
}

.writeTime{
	font-size:"10px";
	color: gray;
}

section.replyList{
	margin: 20px;
}

.modal__background{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal__background{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
}


.modal{
	display:none;
}

.modal__background{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.8);
}


.modal__box{
  position: absolute;
  top: calc(50vh - 100px); left: calc(50vw - 200px);
  background-color: white;
  display: flex; justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

.test{
	display:none;
}